<h1>My Domains</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Host</th>
      <th>User</th>
      <th>Expiration date</th>
      <th>Last checked</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @domains.each do |domain| %>
      <tr>
        <td><i class="fa fa-thumbs-up"></i></td>
        <td><%= domain.host %></td>
        <td><%= domain.user.email unless domain.user.nil? %></td>
        <td><%= domain.expiration_date %></td>
        <td></td>
        <td><%= link_to 'Show', domain %></td>
        <td><%= link_to 'Edit', edit_domain_path(domain) %></td>
        <td><%= link_to 'Destroy', domain, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add a new Domain', new_domain_path %>
