<p id="notice"><%= notice %></p>

<p>
  <strong>Host:</strong>
  <%= @domain.host %>
</p>

<p>
  <strong>User:</strong>
  <%= @domain.user_id %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%= @domain.expiration_date %>
</p>

<%= link_to 'Edit', edit_domain_path(@domain) %> |
<%= link_to 'Back', domains_path %>
